.button {
  display: flex;
  justify-content: center;
  margin: 1rem 0.1rem;
  text-align: center;

  a {
    border: 1px solid grey;
    border-radius: 2px;
    padding: 1rem 2rem;
    background: inherit;
    transition: $base-in-timing $base-in-duration;
    &:hover {
      background: $secondary-background-color;
    }
    @media screen and (max-width: 900px) {
      padding: 1rem;
      font-size: 0.8rem;
    }
  }
}
.button.postButton {
  margin: 2rem 0;
  a {
    border: 0;
    color: $white;
    background: $action-color;
    &:hover {
      color: lighten($white, 25%);
      background: darken($action-color, 25%);
    }
  }
}
