.postContainer {
  background: $secondary-font-color;
  width: 100%;
  a:hover {
    color: $action-color;
  }
}
.postContent {
  background: $secondary-font-color;
  width: 100%;
  a:hover {
    color: $action-color;
  }
   h1, h3, h4 {
    margin: 0;
    text-align: center;
    color: darken($secondary-font-color, 25%);
  }
  h1 {
    color: inherit;
  }
  h4 {
    padding-bottom: $mobile-padding-y;
  }
  p {
    a {
      color: $action-color;
      &:hover {
        color: darken($action-color, 20%);
      }
    }
  }
  .blogPost {
    background: $base-background-color;
    p, li {
      font-size: 1rem;
    }
    .basePad {
      .flex {
        > div {
          width: 100%;
        }
      }
    }
  }
}
.postTagContainer {
  padding: 0;
  a {
    color: $black;
    &:hover {
      color: $black;
    }
  }
  button {
    padding: 12px;
    line-height: 0;
    margin: 0.1rem;
    background: $secondary-background-color;
    font-size: 12px;
    border-radius: 16px;
    transition: $base-in-duration $base-in-timing;
    border: none;
    &:hover {
      background: darken($secondary-background-color, 15%);
      color: $black;
    }
    &:active, &:focus{
      outline: 0;
    }
  }
}
