.scrollbutton {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: $secondary-font-color;
  animation-name: mouseScroll;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.10,.50,.75,.94);
}
.mouse {
  width: 3px;
  padding: 10px 16px;
  height: 40px;
  border: 2px solid $secondary-font-color;
  border-radius: 20px;
  opacity: 0.67;
  box-sizing: content-box;
  transition: $base-in-duration $base-in-timing;
  &:hover {
    border-color: $white;
    cursor: pointer;
    background: $white;
    .scrollbutton {
      background: $black;
    }
  }
}
@keyframes mouseScroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(20px); opacity: 0;}
}
@keyframes inOutFatso {
  0% {
    transform: scale(0.1);
    background: lighten($light-gray, 5%);
  }
  80% {
    transform: scale(1.8);
    background: lighten($light-gray, 2%);
  }
  100% {
    transform: scale(1.5);
    background: $light-gray;
  }
}
