.artist-container {
  .tag-container {
    flex-wrap: wrap;
    padding: $base-padding-y $base-padding-x 0;
    h4 {
      background: $secondary-background-color;
      padding: 0.4rem 0.8rem;
      margin: 0;
      margin-top: 0.4rem;
      font-weight: 100;
      margin-left: 0.2rem;
      margin-right: 0.2rem;
      border-radius: 1%;
      cursor: pointer;
      transition: $base-in-timing $base-in-duration;
      text-transform: capitalize;
      &:hover {
        background: darken($secondary-background-color, 25%);
      }
    }
    @media screen and (max-width: 768px) {
      padding: $mobile-padding-y $mobile-padding-x 0;
    }
  }
}
.artistView {
  min-height: 50%;
  padding: $base-padding-y $base-padding-x;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: 1s ease-in;
  .artistCard {
    background: $base-background-color;
    color: $black;
    transition: $base-in-timing $base-in-duration;
    min-width: 250px;
    margin: 10px;
    box-shadow: 2px 3px 10px 0 $gray;
    @media screen and (max-width: 768px) {
      min-width: 150px;
      margin: 5px;
    }
    .artistInfo {
      width: 100%;
      padding: 2rem 0;
      h2, h4 {
        margin: 0;
      }
      h4 {
        color: darken($secondary-font-color, 45%);
      }
      @media screen and (max-width: 768px) {
        padding: 1rem 0;
        h2 {
          font-size: 1rem;
        }
        h4 {
          font-size: 0.7rem;
        }
        h2,h4 {
          font-weight: 100;
        }
      }
    }
    &:hover {
      background: $secondary-background-color;
      color: lighten($black, 10%);
    }
  }
  @media screen and (max-width: 768px){
    padding: $mobile-padding-y $mobile-padding-x;
  }
}
