.connectionsInPost {
  border-bottom: 0;
  background: $black;
  text-align: center;
  padding: $base-padding-y $base-padding-x;
  @media screen and (max-width: 768px){
    padding: $mobile-padding-y $base-padding-x;
  }
  color: darken($secondary-font-color, 25%);
  margin-bottom: -1px;
  .connectionsInPostHeader {
    padding: 0 0 2rem;
    h1 {
      font-weight: 100;
    }
    @media screen and (max-width: 768px) {
      padding: 0 0 1rem;
    }
  }
  .perPost {
    display: flex;
    flex-flow: wrap;
    align-items: flex-end;
    > a {
      flex:1;
      padding: 3rem 23px 0;
      margin: 0 10px;
      h4 {
        padding: 0 0 1rem 0;
      }
      h3, h4 {
        transition: $base-in-timing $base-in-duration;
        font-weight: 100;
      }
      > div {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        transition: $base-in-timing $base-in-duration;
      }
      &:hover div{
        box-shadow: 0 0 3px 0 $gray;
      }
      &:hover h4, &:hover h3 {
        color: $white;
      }
    }
  }
}
.controls {
  border-top: 1px solid $black;
  bottom: 0;
  width: 100%;
  padding: 0 $base-padding-y $base-padding-x;
  background: $black;
  h3 {
    transition: $base-in-duration $base-in-timing;
    font-weight: 100;
  }
  div:hover {
    h3 {
      color: $white;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 0 $mobile-padding-x $mobile-padding-y;
  }
}
