.countDownTimer {
  div {
    margin: 0 0.1rem;
    padding: 0.5rem 0.2rem;
    h3 {
      margin: 0.75rem 0;
    }
    h2 {
      margin: 0.2rem;
    }
    h1 {
      margin: 0;
    }
  }
  .collaboratorsLogo {
    margin: 0;
    padding: 0;
    img {
      height: 40px;
      margin: 0 0.5rem;
    }
  }
  @media screen and (max-width: 768px){
    div {
      margin: 0 0.2rem;
      h1{
        margin-bottom: 0;
      }
      h3 {
        margin: 0;
      }
    }
  }
}
