.countDownTimer {
  div {
    padding: 3rem 0;
    h1 {
      margin: 0;
    }
    h2 {
      background: $black;
      color: $white;
      margin: 0;
      line-height: 1;
      padding: 1rem;
    }
    h2:nth-of-type(2), h2:nth-of-type(4){
      background: white;
      color: black;
    }
  }
  .collaboratorsLogo {
    margin: 0;
    padding: 0;
    img {
      height: 40px;
      margin: 0 0.5rem;
    }
  }
  @media screen and (max-width: 768px){
    div {
      margin: 0 0.2rem;
      h1{
        margin-bottom: 0;
      }
      h2 {
        font-size: 1rem;
      }
      h3 {
        margin: 0;
      }
    }
  }
}
