.info {
  h2 {
    padding: 1rem;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0 1rem;
    }
    a {
      transition: $base-in-duration $base-in-timing;
      img {
        width: 120px;
      }
    }
  }
}
