.nav {
  width: 100%;
  position: fixed;
  color: $gray;
  z-index: 2;
  height: 0;
  h2 {
    padding: 1.5rem;
  }
  p {
    padding: 0;
    margin-bottom: 0;
    padding: 0.5rem 1.5rem;
    margin-right: 0.2rem;
    line-height: 1;
  }
  h2,p {
    cursor: pointer;
    margin-bottom: 0;
    text-align: center;
    transition: $base-in-timing $base-in-duration;
    &:hover {
      color: darken($gray, 20%);
    }
  }
  .showLang {
    max-height: 200px;
    transition: max-height 0.15s $base-out-timing;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  .hideLang {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s $base-in-timing;
    transform: translate3d(0, 0, 0);
  }
}
